div.card-option {
	display: inline-block;
	width: 72px;
	height: 98px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

div.card-option + div.card-option {
	margin-left: 4px;
}

div.card-option.selected {
	opacity: 0.5;
}