@font-face {
	font-family: "D4DJ";
	src: url("FOT-RodinNTLG Pro B.otf")  format("opentype");
}

body {
	margin: 0;
	font-family: "D4DJ",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
